In [12]:
!pip install -r requirements.txt

Requirement already satisfied: numpy>=1.20.3 in /opt/conda/lib/python3.9/site-packages (from -r requirements.txt (line 4)) (1.21.5)
Requirement already satisfied: pandas>=1.2.5 in /opt/conda/lib/python3.9/site-packages (from -r requirements.txt (line 7)) (1.3.5)
Requirement already satisfied: pint>=0.18 in /opt/conda/lib/python3.9/site-packages (from -r requirements.txt (line 10)) (0.18)
Requirement already satisfied: requests>=2.26.0 in /opt/conda/lib/python3.9/site-packages (from -r requirements.txt (line 13)) (2.26.0)
Requirement already satisfied: eep153_tools in /opt/conda/lib/python3.9/site-packages (from -r requirements.txt (line 15)) (0.11)
Requirement already satisfied: gnupg in /opt/conda/lib/python3.9/site-packages (from -r requirements.txt (line 17)) (2.3.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/lib/python3.9/site-packages (from pandas>=1.2.5->-r requirements.txt (line 7)) (2.8.0)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/lib/python3.9/site-packages (from pandas>=1.2.5->-r requirements.txt (line 7)) (2021.1)
Requirement already satisfied: packaging in /opt/conda/lib/python3.9/site-packages (from pint>=0.18->-r requirements.txt (line 10)) (21.3)
Requirement already satisfied: idna<4,>=2.5; python_version >= "3" in /opt/conda/lib/python3.9/site-packages (from requests>=2.26.0->-r requirements.txt (line 13)) (2.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.9/site-packages (from requests>=2.26.0->-r requirements.txt (line 13)) (1.25.7)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.9/site-packages (from requests>=2.26.0->-r requirements.txt (line 13)) (2019.11.28)
Requirement already satisfied: charset-normalizer~=2.0.0; python_version >= "3" in /opt/conda/lib/python3.9/site-packages (from requests>=2.26.0->-r requirements.txt (line 13)) (2.0.0)
Requirement already satisfied: psutil>=1.2.1 in /opt/conda/lib/python3.9/site-packages (from gnupg->-r requirements.txt (line 17)) (5.9.0)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas>=1.2.5->-r requirements.txt (line 7)) (1.16.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /opt/conda/lib/python3.9/site-packages (from packaging->pint>=0.18->-r requirements.txt (line 10)) (3.0.7)

In [13]:
apikey = "tJl01ofHyVljUR9Zpj444bDQ07REEpVXRdx1kpRl"

In [14]:
from  scipy.optimize import linprog as lp
import numpy as np
import warnings

def solve_subsistence_problem(FoodNutrients,Prices,diet_min,diet_max,max_weight=None,tol=1e-6):
    """Solve Stigler's Subsistence Cost Problem.

    Inputs:
       - FoodNutrients : A pd.DataFrame with rows corresponding to foods, columns to nutrients.
       - Prices : A pd.Series of prices for different foods
       - diet_min : A pd.Series of DRIs, with index corresponding to columns of FoodNutrients,
                    describing minimum intakes.
       - diet_max : A pd.Series of DRIs, with index corresponding to columns of FoodNutrients,
                    describing maximum intakes.
       - max_weight : Maximum weight (in hectograms) allowed for diet.
       - tol : Solution values smaller than this in absolute value treated as zeros.
       
    """
    p = Prices.apply(lambda x:x.magnitude).dropna()

    # Compile list that we have both prices and nutritional info for; drop if either missing
    use = p.index.intersection(FoodNutrients.columns)
    p = p[use]

    # Drop nutritional information for foods we don't know the price of,
    # and replace missing nutrients with zeros.
    Aall = FoodNutrients[p.index].fillna(0)

    # Drop rows of A that we don't have constraints for.
    Amin = Aall.loc[Aall.index.intersection(diet_min.index)]

    Amax = Aall.loc[Aall.index.intersection(diet_max.index)]

    # Minimum requirements involve multiplying constraint by -1 to make <=.
    A = pd.concat([Amin,
                   -Amax])

    b = pd.concat([diet_min,
                   -diet_max]) # Note sign change for max constraints

    # Make sure order of p, A, b are consistent
    A = A.reindex(p.index,axis=1)
    A = A.reindex(b.index,axis=0)

    if max_weight is not None:
        # Add up weights of foods consumed
        A.loc['Hectograms'] = -1
        b.loc['Hectograms'] = -max_weight
        
    # Now solve problem!  (Note that the linear program solver we'll use assumes
    # "less-than-or-equal" constraints.  We can switch back and forth by
    # multiplying $A$ and $b$ by $-1$.)

    result = lp(p, -A, -b, method='interior-point')

    result.A = A
    result.b = b
    
    if result.success:
        result.diet = pd.Series(result.x,index=p.index)
    else: # No feasible solution?
        warnings.warn(result.message)
        result.diet = pd.Series(result.x,index=p.index)*np.nan  

    return result

In [15]:
SHEETs = [("https://docs.google.com/spreadsheets/d/17XCCM7-_Vk2erOKQmZsOZ2fYSsPUGzbGyTYZd_02bVk/edit#gid=0","Berkeley Bowl")]

In [16]:
import pandas as pd
from eep153_tools.sheets import read_sheets

df = read_sheets(SHEETs[0][0])[SHEETs[0][1]]

Key available for students@eep153.iam.gserviceaccount.com.

In [17]:
df

,Food Group,Food,Quantity,Units,Price,Date,Location,Brand Name,FDC,Vegan (1/0),Vegetarian (1/0),Pescetarian (1/0)
0,Protein,Chicken breast,1,Pound,$3.99,NaN,NaN,NaN,2092152,0,0,0.0
1,Protein,Chicken thigh,1,Pound,$3.99,NaN,NaN,NaN,1899680,0,0,0.0
2,Protein,Ground Beef,1,Pound,$5.49,NaN,NaN,NaN,1597053,0,0,0.0
3,Protein,Eggs,12,Eggs,$3.99,NaN,NaN,NaN,577532,0,1,1.0
4,Protein,Peanut Butter,1,Pound,$3.69,NaN,NaN,NaN,1100559,1,1,1.0
5,Protein,Chickpeas,1,Pound,$3.99,NaN,NaN,NaN,1100433,1,1,1.0
6,Protein,Tofu,1,Pound,$1.69,NaN,NaN,NaN,1864416,1,1,1.0
7,Protein,Pork Loin (Pork Loin Chop),1,Pound,$7.99,NaN,NaN,NaN,168314,0,0,0.0
8,Protein,Ground Pork,1,Pound,$5.99,NaN,NaN,NaN,1887701,0,0,0.0
9,Protein,Ground Turkey,1,Pound,$6.49,NaN,NaN,NaN,1626048,0,0,0.0
10,Protein,Black Beans,15,Oz.,$1.29,NaN,NaN,NaN,1580017,1,1,1.0
11,Protein,Pinto Beans,15,Oz.,$1.39,NaN,NaN,NaN,1478888,1,1,1.0
12,Protein,Lentils,1,Pound,$2.59,NaN,NaN,NaN,2115595,1,1,1.0
13,Protein,Sliced Turkey,1,Pound,$12.99,NaN,NaN,NaN,1100493,0,0,0.0
14,Protein,Sliced Ham,1,Pound,$13.99,NaN,NaN,NaN,1949070,0,0,0.0
15,Protein,Salmon,1,Pound,$19.99,NaN,NaN,NaN,1028841,0,0,1.0
16,Protein,Halibut,1,Pound,$28.99,NaN,NaN,NaN,2100197,0,0,NaN
17,Protein,Shrimp,1,Pound,$14.99,NaN,NaN,NaN,1899566,0,0,NaN
18,Protein,Tuna,1,Pound,$25.99,NaN,NaN,NaN,1099030,0,0,NaN
19,Protein,Almond Milk,64,Fl. Oz.,$4.49,NaN,NaN,NaN,1097550,1,1,NaN
20,Dairy,2% milk,1,Gallon,$5.99,NaN,NaN,NaN,1954790,0,1,NaN
21,Dairy,Cheddar cheese,1,Pound,$6.99,NaN,NaN,NaN,1098007,0,1,NaN
22,Dairy,Unsalted butter,1,Pound,$4.99,NaN,NaN,NaN,1923401,0,1,NaN
23,Dairy,Greek yogurt,24,Fl. Oz.,$4.99,NaN,NaN,NaN,2038865,0,1,NaN
24,Dairy,Oat Milk,32,Fl. Oz.,$3.99,NaN,NaN,NaN,2150973,1,1,NaN
25,Grains,Wheat Cereal,20,Oz.,$4.39,NaN,NaN,NaN,1101822,1,1,NaN
26,Grains,Granola,1,Pound,$3.99,NaN,NaN,NaN,565809,1,1,NaN
27,Grains,Brown Rice,1,Pound,$2.19,NaN,NaN,NaN,1869015,1,1,NaN
28,Grains,Jasmine Rice,2,Pounds,$4.79,NaN,NaN,NaN,1662976,1,1,NaN
29,Grains,Potatoes,1,Pound,$0.99,NaN,NaN,NaN,1611539,1,1,NaN
30,Fruits,Bananas,1,Pound,$0.69,NaN,NaN,NaN,1102653,1,1,NaN
31,Fruits,Apples,1,Pound,$0.99,NaN,NaN,NaN,1102653,1,1,NaN
32,Fruits,Avocados,6,Oz.,$2.89,NaN,NaN,NaN,1102652,1,1,NaN
33,Fruits,Blue Berries,6,Oz.,$3.39,NaN,NaN,NaN,1936377,1,1,NaN
34,Fruits,Tomatoes,1,Pound,$1.99,NaN,NaN,NaN,1103276,1,1,NaN
35,Vegetables,Kale,8,Oz.,$1.09,NaN,NaN,NaN,1602525,1,1,NaN
36,Vegetables,Garlic,1,Pound,$3.99,NaN,NaN,NaN,1104647,1,1,NaN
37,Vegetables,Red Onion,1,Pound,$1.89,NaN,NaN,NaN,790577,1,1,NaN
38,Vegetables,Yellow Onion,1,Pound,$0.99,NaN,NaN,NaN,790646,1,1,NaN
39,Vegetables,White Onion,1,Pound,$1.09,NaN,NaN,NaN,1104962,1,1,NaN
40,Vegetables,Cauliflower,1,Pound,$1.39,NaN,NaN,NaN,1103345,1,1,NaN
41,Vegetables,Broccoli,1,Pound,$1.79,NaN,NaN,NaN,1103170,1,1,NaN
42,Vegetables,Carrots,1,Pound,$0.79,NaN,NaN,NaN,1866549,1,1,NaN
43,Vegetables,Sweet Potatoes,1,Pound,$1.39,NaN,NaN,NaN,983525,1,1,NaN
44,Vegetables,Romaine Lettuce,30,Oz.,$3.89,NaN,NaN,NaN,1103106,1,1,NaN
45,Vegetables,Spinach,11,Oz.,$1.09,NaN,NaN,NaN,721056,1,1,NaN
46,Vegetables,Cucumbers,23,Oz.,$0.79,NaN,NaN,NaN,1103352,1,1,NaN
47,Vegetables,Cremini Mushrooms,1,Pound,$3.99,NaN,NaN,NaN,2003601,1,1,NaN
48,Vegetables,Jalepenos,1,Pound,$0.79,NaN,NaN,NaN,168576,1,1,NaN
49,Misc,Olive Oil,1,Liter,$13.99,NaN,NaN,NaN,1582039,1,1,NaN
50,Misc,Vegetable Oil,48,Oz.,$4.99,NaN,NaN,NaN,2115356,1,1,NaN
51,Misc,Salt,26,Oz.,$1.29,NaN,NaN,NaN,1492094,1,1,NaN
52,Misc,Tomato Sauce,15,Oz.,$1.39,NaN,NaN,NaN,1851104,1,1,NaN
53,Misc,Sugar,10,Pounds,$11.99,NaN,NaN,NaN,2021609,1,1,NaN
54,Misc,Honey,12,Oz.,$5.99,NaN,NaN,NaN,169640,0,1,NaN

In [18]:
import fooddatacentral as fdc
import warnings

D = {}
count = 0
for food in  df.Food.tolist():
    try:
        FDC = df.loc[df.Food==food,:].FDC[count]
        count+=1
        D[food] = fdc.nutrients(apikey,FDC).Quantity
    except AttributeError: 
        warnings.warn("Couldn't find FDC Code %s for food %s." % (food,FDC))        

FoodNutrients = pd.DataFrame(D,dtype=float)

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [8]:
# Convert food quantities to FDC units
df['FDC Quantity'] = df[['Quantity','Units']].T.apply(lambda x : fdc.units(x['Quantity'],x['Units']))

# Now may want to filter df by time or place--need to get a unique set of food names.
df['FDC Price'] = df['Price']/df['FDC Quantity']

df.dropna(how='any') # Drop food with any missing data

# To use minimum price observed
Prices = df.groupby('Food',sort=False)['FDC Price'].min()

/opt/conda/lib/python3.9/site-packages/pandas/core/dtypes/cast.py:1990: UnitStrippedWarning: The unit of the quantity is stripped when downcasting to ndarray.
  result[:] = values

TypeError: unsupported operand type(s) for /: 'str' and 'float'

In [9]:
from eep153_tools.sheets import read_sheets

DRI_url = "https://docs.google.com/spreadsheets/d/1y95IsQ4HKspPW3HHDtH7QMtlDA66IUsCHJLutVL-MMc/"

DRIs = read_sheets(DRI_url)

# Define *minimums*
diet_min = DRIs['diet_minimums'].set_index('Nutrition')

# Define *maximums*
diet_max = DRIs['diet_maximums'].set_index('Nutrition')

Key available for students@eep153.iam.gserviceaccount.com.

In [10]:
group = 'M 19-30'
tol = 1e-6

result = solve_subsistence_problem(FoodNutrients,Prices,diet_min[group],diet_max[group],tol=tol)

print("Cost of diet for %s is $%4.2f per day.\n" % (group,result.fun))

# Put back into nice series
diet = result.diet

print("\nDiet (in 100s of grams or milliliters):")
print(diet[diet >= tol])  # Drop items with quantities less than precision of calculation.
print()

tab = pd.DataFrame({"Outcome":np.abs(result.A).dot(diet),"Recommendation":np.abs(result.b)})
print("\nWith the following nutritional outcomes of interest:")
print(tab)
print()

print("\nConstraining nutrients are:")
excess = tab.diff(axis=1).iloc[:,1]
print(excess.loc[np.abs(excess) < tol*100].index.tolist())

NameError: name 'Prices' is not defined