In [1]:
!pip install -r requirements.txt

Requirement already satisfied: numpy>=1.20.3 in /opt/conda/lib/python3.9/site-packages (from -r requirements.txt (line 4)) (1.21.5)
Requirement already satisfied: pandas>=1.2.5 in /opt/conda/lib/python3.9/site-packages (from -r requirements.txt (line 7)) (1.3.5)
Requirement already satisfied: pint>=0.18 in /opt/conda/lib/python3.9/site-packages (from -r requirements.txt (line 10)) (0.18)
Requirement already satisfied: requests>=2.26.0 in /opt/conda/lib/python3.9/site-packages (from -r requirements.txt (line 13)) (2.26.0)
Requirement already satisfied: eep153_tools in /opt/conda/lib/python3.9/site-packages (from -r requirements.txt (line 15)) (0.11)
Requirement already satisfied: gnupg in /opt/conda/lib/python3.9/site-packages (from -r requirements.txt (line 17)) (2.3.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/lib/python3.9/site-packages (from pandas>=1.2.5->-r requirements.txt (line 7)) (2.8.0)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/lib/python3.9/site-packages (from pandas>=1.2.5->-r requirements.txt (line 7)) (2021.1)
Requirement already satisfied: packaging in /opt/conda/lib/python3.9/site-packages (from pint>=0.18->-r requirements.txt (line 10)) (21.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.9/site-packages (from requests>=2.26.0->-r requirements.txt (line 13)) (1.25.7)
Requirement already satisfied: charset-normalizer~=2.0.0; python_version >= "3" in /opt/conda/lib/python3.9/site-packages (from requests>=2.26.0->-r requirements.txt (line 13)) (2.0.0)
Requirement already satisfied: idna<4,>=2.5; python_version >= "3" in /opt/conda/lib/python3.9/site-packages (from requests>=2.26.0->-r requirements.txt (line 13)) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.9/site-packages (from requests>=2.26.0->-r requirements.txt (line 13)) (2019.11.28)
Requirement already satisfied: psutil>=1.2.1 in /opt/conda/lib/python3.9/site-packages (from gnupg->-r requirements.txt (line 17)) (5.9.0)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas>=1.2.5->-r requirements.txt (line 7)) (1.16.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /opt/conda/lib/python3.9/site-packages (from packaging->pint>=0.18->-r requirements.txt (line 10)) (3.0.7)

In [2]:
apikey = "tJl01ofHyVljUR9Zpj444bDQ07REEpVXRdx1kpRl"

In [29]:
from  scipy.optimize import linprog as lp
import numpy as np
import warnings

def solve_subsistence_problem(FoodNutrients,Prices,diet_min,diet_max,max_weight=None,tol=1e-6):
    """Solve Stigler's Subsistence Cost Problem.

    Inputs:
       - FoodNutrients : A pd.DataFrame with rows corresponding to foods, columns to nutrients.
       - Prices : A pd.Series of prices for different foods
       - diet_min : A pd.Series of DRIs, with index corresponding to columns of FoodNutrients,
                    describing minimum intakes.
       - diet_max : A pd.Series of DRIs, with index corresponding to columns of FoodNutrients,
                    describing maximum intakes.
       - max_weight : Maximum weight (in hectograms) allowed for diet.
       - tol : Solution values smaller than this in absolute value treated as zeros.
       
    """
    p = Prices.apply(lambda x:x.magnitude).dropna()

    # Compile list that we have both prices and nutritional info for; drop if either missing
    use = p.index.intersection(FoodNutrients.columns)
    p = p[use]

    # Drop nutritional information for foods we don't know the price of,
    # and replace missing nutrients with zeros.
    Aall = FoodNutrients[p.index].fillna(0)

    # Drop rows of A that we don't have constraints for.
    Amin = Aall.loc[Aall.index.intersection(diet_min.index)]

    Amax = Aall.loc[Aall.index.intersection(diet_max.index)]

    # Minimum requirements involve multiplying constraint by -1 to make <=.
    A = pd.concat([Amin,
                   -Amax])

    b = pd.concat([diet_min,
                   -diet_max]) # Note sign change for max constraints

    # Make sure order of p, A, b are consistent
    A = A.reindex(p.index,axis=1)
    A = A.reindex(b.index,axis=0)

    if max_weight is not None:
        # Add up weights of foods consumed
        A.loc['Hectograms'] = -1
        b.loc['Hectograms'] = -max_weight
        
    # Now solve problem!  (Note that the linear program solver we'll use assumes
    # "less-than-or-equal" constraints.  We can switch back and forth by
    # multiplying $A$ and $b$ by $-1$.)

    result = lp(p, -A, -b, method='interior-point')

    result.A = A
    result.b = b
    
    if result.success:
        result.diet = pd.Series(result.x,index=p.index)
    else: # No feasible solution?
        warnings.warn(result.message)
        result.diet = pd.Series(result.x,index=p.index)*np.nan  

    return result

In [88]:
SHEETs = [("https://docs.google.com/spreadsheets/d/17XCCM7-_Vk2erOKQmZsOZ2fYSsPUGzbGyTYZd_02bVk/edit#gid=0","Berkeley Bowl")]
SHEETs2 = [("https://docs.google.com/spreadsheets/d/17XCCM7-_Vk2erOKQmZsOZ2fYSsPUGzbGyTYZd_02bVk/edit#gid=0","Safeway")]
SHEETs3 = [("https://docs.google.com/spreadsheets/d/17XCCM7-_Vk2erOKQmZsOZ2fYSsPUGzbGyTYZd_02bVk/edit#gid=0","Whole Foods")]
SHEETs4 = [("https://docs.google.com/spreadsheets/d/17XCCM7-_Vk2erOKQmZsOZ2fYSsPUGzbGyTYZd_02bVk/edit#gid=0","Trader Joe's")]

In [89]:
import pandas as pd
from eep153_tools.sheets import read_sheets

df_bb = read_sheets(SHEETs[0][0])[SHEETs[0][1]]
df_sw = read_sheets(SHEETs2[0][0])[SHEETs2[0][1]]
df_wf = read_sheets(SHEETs3[0][0])[SHEETs3[0][1]]
df_tj = read_sheets(SHEETs4[0][0])[SHEETs4[0][1]]

Key available for students@eep153.iam.gserviceaccount.com.
Key available for students@eep153.iam.gserviceaccount.com.
Key available for students@eep153.iam.gserviceaccount.com.
Key available for students@eep153.iam.gserviceaccount.com.

In [90]:
df_bb

,Food Group,Food,Quantity,Units,Price,Date,Location,Brand Name,FDC,Vegan (1/0),Vegetarian (1/0),Pescetarian (1/0)
0,Protein,Chicken breast,1.000000,lbs,$3.99,NaN,NaN,NaN,2092152,0,0,0.0
1,Protein,Chicken thigh,1.000000,lbs,$3.99,NaN,NaN,NaN,1899680,0,0,0.0
2,Protein,Ground Beef,1.000000,lbs,$5.49,NaN,NaN,NaN,1597053,0,0,0.0
3,Protein,Eggs,672.000000,g,$3.99,NaN,NaN,NaN,577532,0,1,1.0
4,Protein,Peanut Butter,1.000000,lbs,$3.69,NaN,NaN,NaN,1100559,1,1,1.0
5,Protein,Chickpeas,1.000000,lbs,$3.99,NaN,NaN,NaN,1100433,1,1,1.0
6,Protein,Tofu,1.000000,lbs,$1.69,NaN,NaN,NaN,1864416,1,1,1.0
7,Protein,Pork Loin (Pork Loin Chop),1.000000,lbs,$7.99,NaN,NaN,NaN,168314,0,0,0.0
8,Protein,Ground Pork,1.000000,lbs,$5.99,NaN,NaN,NaN,1887701,0,0,0.0
9,Protein,Ground Turkey,1.000000,lbs,$6.49,NaN,NaN,NaN,1626048,0,0,0.0
10,Protein,Black Beans,15.000000,oz,$1.29,NaN,NaN,NaN,1580017,1,1,1.0
11,Protein,Pinto Beans,15.000000,oz,$1.39,NaN,NaN,NaN,1478888,1,1,1.0
12,Protein,Lentils,1.000000,lbs,$2.59,NaN,NaN,NaN,2115595,1,1,1.0
13,Protein,Sliced Turkey,1.000000,lbs,$12.99,NaN,NaN,NaN,1100493,0,0,0.0
14,Protein,Sliced Ham,1.000000,lbs,$13.99,NaN,NaN,NaN,1949070,0,0,0.0
15,Protein,Salmon,1.000000,lbs,$19.99,NaN,NaN,NaN,1028841,0,0,1.0
16,Protein,Halibut,1.000000,lbs,$28.99,NaN,NaN,NaN,2100197,0,0,NaN
17,Protein,Shrimp,1.000000,lbs,$14.99,NaN,NaN,NaN,1899566,0,0,NaN
18,Protein,Tuna,1.000000,lbs,$25.99,NaN,NaN,NaN,1099030,0,0,NaN
19,Protein,Almond Milk,0.500000,gallon,$4.49,NaN,NaN,NaN,1097550,1,1,NaN
20,Dairy,2% milk,1.000000,gallon,$5.99,NaN,NaN,NaN,1954790,0,1,NaN
21,Dairy,Cheddar cheese,1.000000,lbs,$6.99,NaN,NaN,NaN,1098007,0,1,NaN
22,Dairy,Unsalted butter,1.000000,lbs,$4.99,NaN,NaN,NaN,1923401,0,1,NaN
23,Dairy,Greek yogurt,0.187500,gallon,$4.99,NaN,NaN,NaN,2038865,0,1,NaN
24,Dairy,Oat Milk,0.250000,gallon,$3.99,NaN,NaN,NaN,2150973,1,1,NaN
25,Grains,Wheat Cereal,20.000000,oz,$4.39,NaN,NaN,NaN,1101822,1,1,NaN
26,Grains,Granola,1.000000,lbs,$3.99,NaN,NaN,NaN,565809,1,1,NaN
27,Grains,Brown Rice,1.000000,lbs,$2.19,NaN,NaN,NaN,1869015,1,1,NaN
28,Grains,Jasmine Rice,2.000000,lbs,$4.79,NaN,NaN,NaN,1662976,1,1,NaN
29,Grains,Potatoes,1.000000,lbs,$0.99,NaN,NaN,NaN,1611539,1,1,NaN
30,Fruits,Bananas,1.000000,lbs,$0.69,NaN,NaN,NaN,1102653,1,1,NaN
31,Fruits,Apples,1.000000,lbs,$0.99,NaN,NaN,NaN,1102653,1,1,NaN
32,Fruits,Avocados,6.000000,oz,$2.89,NaN,NaN,NaN,1102652,1,1,NaN
33,Fruits,Blue Berries,6.000000,oz,$3.39,NaN,NaN,NaN,1936377,1,1,NaN
34,Fruits,Tomatoes,1.000000,lbs,$1.99,NaN,NaN,NaN,1103276,1,1,NaN
35,Vegetables,Kale,8.000000,oz,$1.09,NaN,NaN,NaN,1602525,1,1,NaN
36,Vegetables,Garlic,1.000000,lbs,$3.99,NaN,NaN,NaN,1104647,1,1,NaN
37,Vegetables,Red Onion,1.000000,lbs,$1.89,NaN,NaN,NaN,790577,1,1,NaN
38,Vegetables,Yellow Onion,1.000000,lbs,$0.99,NaN,NaN,NaN,790646,1,1,NaN
39,Vegetables,White Onion,1.000000,lbs,$1.09,NaN,NaN,NaN,1104962,1,1,NaN
40,Vegetables,Cauliflower,1.000000,lbs,$1.39,NaN,NaN,NaN,1103345,1,1,NaN
41,Vegetables,Broccoli,1.000000,lbs,$1.79,NaN,NaN,NaN,1103170,1,1,NaN
42,Vegetables,Carrots,1.000000,lbs,$0.79,NaN,NaN,NaN,1866549,1,1,NaN
43,Vegetables,Sweet Potatoes,1.000000,lbs,$1.39,NaN,NaN,NaN,983525,1,1,NaN
44,Vegetables,Romaine Lettuce,30.000000,oz,$3.89,NaN,NaN,NaN,1103106,1,1,NaN
45,Vegetables,Spinach,11.000000,oz,$1.09,NaN,NaN,NaN,721056,1,1,NaN
46,Vegetables,Cucumbers,23.000000,oz,$0.79,NaN,NaN,NaN,1103352,1,1,NaN
47,Vegetables,Cremini Mushrooms,1.000000,lbs,$3.99,NaN,NaN,NaN,2003601,1,1,NaN
48,Vegetables,Jalepenos,1.000000,lbs,$0.79,NaN,NaN,NaN,168576,1,1,NaN
49,Misc,Olive Oil,0.264172,gallon,$13.99,NaN,NaN,NaN,1582039,1,1,NaN
50,Misc,Vegetable Oil,48.000000,oz,$4.99,NaN,NaN,NaN,2115356,1,1,NaN
51,Misc,Salt,26.000000,oz,$1.29,NaN,NaN,NaN,1492094,1,1,NaN
52,Misc,Tomato Sauce,15.000000,oz,$1.39,NaN,NaN,NaN,1851104,1,1,NaN
53,Misc,Sugar,10.000000,lbs,$11.99,NaN,NaN,NaN,2021609,1,1,NaN
54,Misc,Honey,12.000000,oz,$5.99,NaN,NaN,NaN,169640,0,1,NaN

In [68]:
# do NOT continuously run next cell

In [45]:
##do not rerun this cell while making changes to other cells, just run once. It takes like 5 minutes to run
import fooddatacentral as fdc
import warnings

D = {}
count = 0
for food in  df.Food.tolist():
    try:
        FDC = df.loc[df.Food==food,:].FDC[count]
        count+=1
        D[food] = fdc.nutrients(apikey,FDC).Quantity
    except AttributeError: 
        warnings.warn("Couldn't find FDC Code %s for food %s." % (food,FDC))        

FoodNutrients = pd.DataFrame(D,dtype=float)

In [91]:
def change_df_col_to_int(df, col):
    df[col] = df[col].dropna()
    df[col] = df[col].str.replace('$', '')
    df[col] = df[col].astype(float)
    return df

In [92]:
change_df_col_to_int(df_bb, 'Price')
change_df_col_to_int(df_sw, 'Price')
change_df_col_to_int(df_wf, 'Price')
change_df_col_to_int(df_tj, 'Price')

/tmp/ipykernel_80/3382762124.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('$', '')

,Food Group,Food,Quantity,Units,Price,Date,Location,Brand Name,FDC,Vegan (1/0),Vegetarian (1/0),Pescetarian (1/0)
0,Protein,Chicken breast,1.0000,lbs,6.99,02/27/22,Trader Joes,Trader Joes,2092152,0,0,0
1,Protein,Chicken thigh,1.0000,lbs,4.49,02/27/22,Trader Joes,Trader Joes,1899680,0,0,0
2,Protein,Ground Beef,1.0000,lbs,6.99,02/27/22,Trader Joes,Trader Joes,1597053,0,0,0
3,Protein,Eggs,672.0000,g,2.69,02/27/22,Trader Joes,Trader Joes,577532,0,1,1
4,Protein,Peanut Butter,16.0000,oz,1.99,02/27/22,Trader Joes,Trader Joes,1100559,1,1,1
5,Protein,Chickpeas,15.5000,oz,0.79,02/27/22,Trader Joes,Trader Joes,1100433,1,1,1
6,Protein,Tofu,14.0000,oz,1.79,02/27/22,Trader Joes,Trader Joes,1864416,1,1,1
7,Protein,Pork Loin,1.0000,lbs,7.99,02/27/22,Trader Joes,Trader Joes,168314,0,0,0
8,Protein,Ground Pork,16.0000,oz,5.99,02/27/22,Trader Joes,Trader Joes,1887701,0,0,0
9,Protein,Ground Turkey,16.0000,oz,3.49,02/27/22,Trader Joes,Trader Joes,1626048,0,0,0
10,Protein,Black Beans,15.5000,oz,0.79,02/27/22,Trader Joes,Trader Joes,1580017,1,1,1
11,Protein,Pinto Beans,15.5000,oz,0.99,02/27/22,Trader Joes,Trader Joes,1478888,1,1,1
12,Protein,Lentils,16.0000,oz,1.69,02/27/22,Trader Joes,Trader Joes,2115595,1,1,1
13,Protein,Sliced Turkey,7.0000,oz,3.29,02/27/22,Trader Joes,Trader Joes,1100493,0,0,0
14,Protein,Sliced Ham,8.0000,oz,3.99,02/27/22,Trader Joes,Trader Joes,1949070,0,0,0
15,Protein,Salmon,1.0000,lbs,9.99,02/27/22,Trader Joes,Trader Joes,1028841,0,0,1
16,Protein,Shrimp,16.0000,oz,8.99,02/27/22,Trader Joes,Trader Joes,1899566,0,0,1
17,Protein,Tuna,5.0000,oz,2.29,02/27/22,Trader Joes,Trader Joes,1099030,0,0,1
18,Protein,Almond Milk,0.5000,gallon,2.69,02/27/22,Trader Joes,Trader Joes,1097550,1,1,1
19,Dairy,2% milk,1.0000,gallon,3.79,02/27/22,Trader Joes,Trader Joes,1954790,0,1,1
20,Dairy,Cheddar cheese,1.0000,lbs,4.99,02/27/22,Trader Joes,Trader Joes,1098007,0,1,1
21,Dairy,Unsalted butter,16.0000,oz,3.69,02/27/22,Trader Joes,Trader Joes,1923401,0,1,1
22,Dairy,Greek yogurt,0.1500,gallon,2.49,02/27/22,Trader Joes,Trader Joes,2038865,0,1,1
23,Dairy,Oat Milk,0.5000,gallon,3.99,02/27/22,Trader Joes,Trader Joes,2150973,1,1,1
24,Grains,Wheat Cereal,13.2500,oz,2.99,02/27/22,Trader Joes,Trader Joes,1101822,1,1,1
25,Grains,Granola,12.0000,oz,3.99,02/27/22,Trader Joes,Trader Joes,565809,1,1,1
26,Grains,Brown Rice,3.0000,lbs,3.49,02/27/22,Trader Joes,Trader Joes,1869015,1,1,1
27,Grains,Jasmine Rice,3.0000,lbs,3.99,02/27/22,Trader Joes,Trader Joes,1662976,1,1,1
28,Grains,Potatoes,470.0000,g,0.69,02/27/22,Trader Joes,Trader Joes,1611539,1,1,1
29,Fruits,Bananas,118.0000,g,0.19,02/27/22,Trader Joes,Trader Joes,1102653,1,1,1
30,Fruits,Fuji Apples,0.6500,lbs,0.69,02/27/22,Trader Joes,Trader Joes,1102653,1,1,1
31,Fruits,Avocados,6.0000,oz,1.99,02/27/22,Trader Joes,Trader Joes,1102652,1,1,1
32,Fruits,Blueberries,11.0000,oz,3.49,02/27/22,Trader Joes,Trader Joes,1936377,1,1,1
33,Fruits,Roma Tomatoes,60.0000,g,0.29,02/27/22,Trader Joes,Trader Joes,1103276,1,1,1
34,Vegetables,Kale,10.0000,oz,2.99,02/27/22,Trader Joes,Trader Joes,1602525,1,1,1
35,Vegetables,Garlic,70.0000,g,0.49,02/27/22,Trader Joes,Trader Joes,1104647,1,1,1
36,Vegetables,Red Onion,7.0000,oz,1.29,02/27/22,Trader Joes,Trader Joes,790577,1,1,1
37,Vegetables,Yellow Onion,7.0000,oz,0.79,02/27/22,Trader Joes,Trader Joes,790646,1,1,1
38,Vegetables,White Onion,7.0000,oz,0.99,02/27/22,Trader Joes,Trader Joes,1104962,1,1,1
39,Vegetables,Cauliflower,1.7000,lbs,2.49,02/27/22,Trader Joes,Trader Joes,1103345,1,1,1
40,Vegetables,Broccoli,12.0000,oz,5.99,02/27/22,Trader Joes,Trader Joes,1103170,1,1,1
41,Vegetables,Carrots,16.0000,oz,0.89,02/27/22,Trader Joes,Trader Joes,1866549,1,1,1
42,Vegetables,Sweet Potatoes,450.0000,g,0.89,02/27/22,Trader Joes,Trader Joes,983525,1,1,1
43,Vegetables,Romaine Lettuce,18.0000,oz,3.29,02/27/22,Trader Joes,Trader Joes,1103106,1,1,1
44,Vegetables,Spinach,6.0000,oz,1.69,02/27/22,Trader Joes,Trader Joes,721056,1,1,1
45,Vegetables,English Cucumber,300.0000,g,1.69,02/27/22,Trader Joes,Trader Joes,1103352,1,1,1
46,Vegetables,Cremini Mushrooms,8.0000,oz,2.29,02/27/22,Trader Joes,Trader Joes,2003601,1,1,1
47,Vegetables,Jalepenos,8.0000,oz,1.79,02/27/22,Trader Joes,Trader Joes,168576,1,1,1
48,Misc,Olive Oil,0.2500,gallon,7.49,02/27/22,Trader Joes,Trader Joes,1582039,1,1,1
49,Misc,Vegetable Oil,0.2500,gallon,2.99,02/27/22,Trader Joes,Trader Joes,2115356,1,1,1
50,Misc,Salt,3.8800,oz,1.99,02/27/22,Trader Joes,Trader Joes,1492094,1,1,1
51,Misc,Tomato Sauce,0.1875,gallon,1.79,02/27/22,Trader Joes,Trader Joes,1851104,1,1,1
52,Misc,Sugar,32.0000,oz,3.49,02/27/22,Trader Joes,Trader Joes,2021609,1,1,1
53,Misc,Honey,12.0000,oz,3.88,02/27/22,Trader Joes,Trader Joes,169640,0,1,1

In [98]:
# Convert food quantities to FDC units
def find_unit_prices(df):
    df['FDC Quantity'] = df[['Quantity','Units']].T.apply(lambda x : fdc.units(x['Quantity'],x['Units']))

# Now may want to filter df by time or place--need to get a unique set of food names.
    df['FDC Price'] = df['Price']/df['FDC Quantity']

    df.dropna(how='any') # Drop food with any missing data

# To use minimum price observed
    Prices = df.groupby('Food',sort=False)['FDC Price'].min()
    return Prices

In [100]:
prices_bb = find_unit_prices(df_bb)
prices_sw = find_unit_prices(df_sw)
prices_wf = find_unit_prices(df_wf)
prices_tj = find_unit_prices(df_tj)

In [101]:
from eep153_tools.sheets import read_sheets

DRI_url = "https://docs.google.com/spreadsheets/d/1y95IsQ4HKspPW3HHDtH7QMtlDA66IUsCHJLutVL-MMc/"

DRIs = read_sheets(DRI_url)

# Define *minimums*
diet_min = DRIs['diet_minimums'].set_index('Nutrition')

# Define *maximums*
diet_max = DRIs['diet_maximums'].set_index('Nutrition')

Key available for students@eep153.iam.gserviceaccount.com.

In [113]:
group = 'M 19-30'
tol = 1e-6

result = solve_subsistence_problem(FoodNutrients,prices_bb,diet_min[group],diet_max[group],tol=tol)

print("Cost of diet at Berkeley Bowl for %s is $%4.2f per day.\n" % (group,result.fun))

# Put back into nice series
diet = result.diet

print("\nDiet (in 100s of grams or milliliters):")
print(diet[diet >= tol])  # Drop items with quantities less than precision of calculation.
print()

tab = pd.DataFrame({"Outcome":np.abs(result.A).dot(diet),"Recommendation":np.abs(result.b)})
print("\nWith the following nutritional outcomes of interest:")
print(tab)
print()

print("\nConstraining nutrients are:")
excess = tab.diff(axis=1).iloc[:,1]
print(excess.loc[np.abs(excess) < tol*100].index.tolist())

Cost of diet at Berkeley Bowl for M 19-30 is $5.90 per day.


Diet (in 100s of grams or milliliters):
Peanut Butter     1.252637
Black Beans       0.727011
Sliced Turkey     0.154066
Cheddar cheese    1.682770
Bananas           3.103034
Jalepenos         6.646953
dtype: float64


With the following nutritional outcomes of interest:
                                    Outcome  Recommendation
Nutrition
Energy                          2778.581525          2400.0
Protein                           96.088178            56.0
Fiber, total dietary              44.420968            33.6
Folate, DFE                      400.000000           400.0
Calcium, Ca                     1451.566650          1000.0
Carbohydrate, by difference      191.411726           130.0
Iron, Fe                           8.155627             8.0
Magnesium, Mg                    444.160251           400.0
Niacin                            29.030871            16.0
Phosphorus, P                   1504.537534           700.0
Potassium, K                    4700.000003          4700.0
Riboflavin                         1.719692             1.3
Thiamin                            1.200000             1.2
Vitamin A, RAE                   900.000001           900.0
Vitamin B-12                       2.400000             2.4
Vitamin B-6                        4.733134             1.3
Vitamin C, total ascorbic acid   815.325078            90.0
Vitamin E (alpha-tocopherol)      37.242198            15.0
Vitamin K (phylloquinone)        128.934602           120.0
Zinc, Zn                          11.000000            11.0
Sodium, Na                      1770.499829          2300.0


Constraining nutrients are:
['Folate, DFE', 'Potassium, K', 'Thiamin', 'Vitamin A, RAE', 'Vitamin B-12', 'Zinc, Zn']

In [114]:
group = 'M 19-30'
tol = 1e-6

result = solve_subsistence_problem(FoodNutrients,prices_sw,diet_min[group],diet_max[group],tol=tol)

print("Cost of diet at Safeway for %s is $%4.2f per day.\n" % (group,result.fun))

# Put back into nice series
diet = result.diet

print("\nDiet (in 100s of grams or milliliters):")
print(diet[diet >= tol])  # Drop items with quantities less than precision of calculation.
print()

tab = pd.DataFrame({"Outcome":np.abs(result.A).dot(diet),"Recommendation":np.abs(result.b)})
print("\nWith the following nutritional outcomes of interest:")
print(tab)
print()

print("\nConstraining nutrients are:")
excess = tab.diff(axis=1).iloc[:,1]
print(excess.loc[np.abs(excess) < tol*100].index.tolist())

Cost of diet at Safeway for M 19-30 is $4.17 per day.


Diet (in 100s of grams or milliliters):
Peanut Butter      3.607849
Chickpeas          0.000002
Black Beans        0.003748
Pinto Beans        0.173419
Sliced Turkey      0.214842
Tuna               0.522255
Almond Milk        2.944323
Oat Milk           0.908684
Potatoes           4.090345
Romaine Lettuce    1.690839
dtype: float64


With the following nutritional outcomes of interest:
                                    Outcome  Recommendation
Nutrition
Energy                          2699.303608          2400.0
Protein                          114.112526            56.0
Fiber, total dietary              33.600003            33.6
Folate, DFE                      400.000008           400.0
Calcium, Ca                     1000.000068          1000.0
Carbohydrate, by difference      178.874700           130.0
Iron, Fe                          13.719934             8.0
Magnesium, Mg                    738.039236           400.0
Niacin                            65.281777            16.0
Phosphorus, P                   1808.218167           700.0
Potassium, K                    4700.000209          4700.0
Riboflavin                         1.300000             1.3
Thiamin                            1.537236             1.2
Vitamin A, RAE                   900.000225           900.0
Vitamin B-12                       2.400000             2.4
Vitamin B-6                        2.984517             1.3
Vitamin C, total ascorbic acid    90.000016            90.0
Vitamin E (alpha-tocopherol)      42.282904            15.0
Vitamin K (phylloquinone)        214.687611           120.0
Zinc, Zn                          11.000000            11.0
Sodium, Na                      2028.806674          2300.0


Constraining nutrients are:
['Fiber, total dietary', 'Folate, DFE', 'Calcium, Ca', 'Riboflavin', 'Vitamin B-12', 'Vitamin C, total ascorbic acid', 'Zinc, Zn']

In [115]:
group = 'M 19-30'
tol = 1e-6

result = solve_subsistence_problem(FoodNutrients,prices_wf,diet_min[group],diet_max[group],tol=tol)

print("Cost of diet at Whole Foods for %s is $%4.2f per day.\n" % (group,result.fun))

# Put back into nice series
diet = result.diet

print("\nDiet (in 100s of grams or milliliters):")
print(diet[diet >= tol])  # Drop items with quantities less than precision of calculation.
print()

tab = pd.DataFrame({"Outcome":np.abs(result.A).dot(diet),"Recommendation":np.abs(result.b)})
print("\nWith the following nutritional outcomes of interest:")
print(tab)
print()

print("\nConstraining nutrients are:")
excess = tab.diff(axis=1).iloc[:,1]
print(excess.loc[np.abs(excess) < tol*100].index.tolist())

Cost of diet at Whole Foods for M 19-30 is $5.65 per day.


Diet (in 100s of grams or milliliters):
Peanut Butter     1.658280
Chickpeas         0.648133
Black Beans       0.012525
Sliced Turkey     0.318226
Almond Milk       5.928579
Cheddar cheese    1.063297
Bananas           8.068819
Broccoli          0.158821
Spinach           0.195205
dtype: float64


With the following nutritional outcomes of interest:
                                    Outcome  Recommendation
Nutrition
Energy                          2400.000007          2400.0
Protein                           85.410140            56.0
Fiber, total dietary              36.286390            33.6
Folate, DFE                      400.000000           400.0
Calcium, Ca                     2043.341393          1000.0
Carbohydrate, by difference      250.108059           130.0
Iron, Fe                           9.324228             8.0
Magnesium, Mg                    602.208403           400.0
Niacin                            31.661033            16.0
Phosphorus, P                   1517.358055           700.0
Potassium, K                    4700.000005          4700.0
Riboflavin                         1.564197             1.3
Thiamin                            1.827048             1.2
Vitamin A, RAE                   900.000000           900.0
Vitamin B-12                       2.400000             2.4
Vitamin B-6                        4.566401             1.3
Vitamin C, total ascorbic acid    90.000001            90.0
Vitamin E (alpha-tocopherol)      34.656557            15.0
Vitamin K (phylloquinone)        120.000000           120.0
Zinc, Zn                          11.000000            11.0
Sodium, Na                      2299.999998          2300.0


Constraining nutrients are:
['Energy', 'Folate, DFE', 'Potassium, K', 'Vitamin A, RAE', 'Vitamin B-12', 'Vitamin C, total ascorbic acid', 'Vitamin K (phylloquinone)', 'Zinc, Zn', 'Sodium, Na']

In [116]:
group = 'M 19-30'
tol = 1e-6

result = solve_subsistence_problem(FoodNutrients,prices_tj,diet_min[group],diet_max[group],tol=tol)

print("Cost of diet at Trader Joe's for %s is $%4.2f per day.\n" % (group,result.fun))

# Put back into nice series
diet = result.diet

print("\nDiet (in 100s of grams or milliliters):")
print(diet[diet >= tol])  # Drop items with quantities less than precision of calculation.
print()

tab = pd.DataFrame({"Outcome":np.abs(result.A).dot(diet),"Recommendation":np.abs(result.b)})
print("\nWith the following nutritional outcomes of interest:")
print(tab)
print()

print("\nConstraining nutrients are:")
excess = tab.diff(axis=1).iloc[:,1]
print(excess.loc[np.abs(excess) < tol*100].index.tolist())

Cost of diet at Trader Joe's for M 19-30 is $4.50 per day.


Diet (in 100s of grams or milliliters):
Peanut Butter      1.873266
Chickpeas          1.129695
Black Beans        1.605966
Sliced Turkey      0.240180
Cheddar cheese     1.051570
Oat Milk           0.649234
Cauliflower        1.570837
Romaine Lettuce    1.528228
dtype: float64


With the following nutritional outcomes of interest:
                                    Outcome  Recommendation
Nutrition
Energy                          2400.000072          2400.0
Protein                          122.582203            56.0
Fiber, total dietary              48.685268            33.6
Folate, DFE                      400.000001           400.0
Calcium, Ca                     1313.393832          1000.0
Carbohydrate, by difference      185.833265           130.0
Iron, Fe                          14.777537             8.0
Magnesium, Mg                    444.764233           400.0
Niacin                            29.238600            16.0
Phosphorus, P                   1559.214610           700.0
Potassium, K                    4700.000137          4700.0
Riboflavin                         1.300000             1.3
Thiamin                            1.492857             1.2
Vitamin A, RAE                   900.000001           900.0
Vitamin B-12                       2.400000             2.4
Vitamin B-6                        2.389395             1.3
Vitamin C, total ascorbic acid    90.000001            90.0
Vitamin E (alpha-tocopherol)      19.398048            15.0
Vitamin K (phylloquinone)        224.628854           120.0
Zinc, Zn                          11.000000            11.0
Sodium, Na                      2148.719208          2300.0


Constraining nutrients are:
['Energy', 'Folate, DFE', 'Riboflavin', 'Vitamin A, RAE', 'Vitamin B-12', 'Vitamin C, total ascorbic acid', 'Zinc, Zn']